code {
  font-family: SF mono, Menlo, Bitstream Vera Sans Mono, DejaVu Sans Mono,
    Monaco, Consolas, monospace;
}

p > code.language-none,
li > code.language-none {
  padding: 2px 4px;
  color: #0072be;
  background-color: #f4f2f9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* ::-moz-selection {
  color: #eee;
  background-color: #363636;
}
::selection {
  color: #eee;
  background-color: #363636;
} */

.line-numbers .line-numbers-rows {
  border-right: 2px solid #546e7a;
}
